body {
    margin: 0;
    padding: 0;
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    padding-top: 3rem;
}